/* Use your own code or past solution for Great Idea Web Page CSS here! */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Titillium Web", sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Bangers", cursive;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.container {
  width: 900px;
  margin: auto;
}

header nav {
  display: inline-block;
  margin-top: 35px;
}

header .img-logo {
  display: inline-block;
  margin-left: 70px;
}

header nav a {
  color: grey;
  font-size: 12px;
  text-decoration: none;
  /* TB LR */
  margin: 0 22px;
  float: left;
  display: block;
  padding: 10px;
}

header nav a:hover {
  color: black;
}

@media (max-width: 500px) {
  .container {
    width: 100%;
  }
  .container header {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .container header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
  }
  .container header nav a {
    width: 100%;
    text-align: center;
    border-top: 1.5px solid;
    padding: 17px 0;
  }
  .container header nav a:nth-child(6) {
    border-bottom: 1.5px solid;
  }

  .container header .img-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
}

.iod {
  margin-top: 35px;
  padding: 30px;
  margin-bottom: 45px;
}

.iod-text {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 45%;
  margin-top: 45px;
  height: 100%;
  text-align: center;
}

.iod-img {
  display: inline-block;
  width: 50%;
  margin-left: 25px;
}
@media (max-width: 500px) {
  .iod {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 0px;
  }
  .iod-img img {
    display: none;
  }
  .iod-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin-top: 0px;
  }
  .iod button {
    width: 42%;
    margin-left: 28%;
  }
}

.iod-img img {
  width: 100%;
}

h1 {
  font-size: 75px;
  margin: 30px 30px 15px 30px;
  text-align: center;
}

.iod button {
  /* TB LR */
  padding: 7px 50px;
  display: inline-block;
  text-align: center;
  background-color: white;
  color: black;
  border: 1px solid black;
  font-size: 15px;
}

.iod button:hover {
  background-color: black;
  color: white;
}

.main-container {
  width: 100%;
  padding: 10px;
  border: 5px;
  margin: 0;
}

.item-content1 {
  display: inline-block;
  width: 49.5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container :nth-child(1) {
  margin-right: 5px;
}

.item-content2 {
  display: inline-block;
  width: 33%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container img {
  margin: 15px 0;
}

@media (max-width: 500px) {
  .main-container {
    display: flex;
    flex-direction: column;
  }
  .item-content1 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .main-container img {
    width: 100%;
  }
  .item-content2 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

.contact {
  display: inline-block;
  padding: 10px 10px 10px 0px;
}

.contact address {
  margin-bottom: 20px 0;
}

.contact p {
  margin: 20px 0;
}

.footer {
  margin-top: 20px;
  text-align: center;
}
